<nav>
  <ul class="flex gap-8">
    <li><a href="" class="hover:font-bold text-red-900">Início</a></li>
    <li><a href="">Sobre</a></li>
    <li><a href="">Serviços</a></li>
    <li><a href="">Depoimentos</a></li>
  </ul>
</nav>
